/*
    Name: Todd Raymond
    Website: "Todd Raymond's Portfolio" www.toddraymond.com
    Date: Sept 24th 2014
    Desc: Here I take information from my html pages and change how they look.
*/

body 
{
    background-color:yellowgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

meta.foundation-data-attribute-namespace {
  font-family: false; }

h4 
{
    text-align:center;
    margin-top:2em;
    margin-bottom:2em;
}

#my-services 
{
    text-align:center;
}

#services 
{
    margin-top:2em;
    margin-bottom:2em;
}
#book-sales 
{
    margin-top:5em;
    margin-bottom:5em;
}

#darryl-and-susan 
{
    margin-top:5em;
    margin-bottom:5em;
}

#darryl-vs-susan 
{
    margin-top:5em;
    margin-bottom:5em;
}

#logo
{
    background-color:transparent;
    min-height:100px;
    min-width:100px;
}

#logo 
{
    background: url('../Images/Assignment Logo3.png') no-repeat scroll center top transparent;
    height: 100px;
    width: 100px;
}

aside 
{
    text-align:center;
}
footer 
{
    text-align:center;
    margin:5em;
}

#slider { background: url(spinner.gif) center center #f4f4f4; height: 300px; }  
#slider img { display: none; }  
  
#slider.orbit { background: none; }  
#slider.orbit img { display: block; } 

