body 
{
    background-color:yellowgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

meta.foundation-data-attribute-namespace {
  font-family: false; }

#logo 
{
    background-color:transparent;
}

#welcome-header 
{
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

footer 
{
    text-align:center;
}

#slider { background: url(spinner.gif) center center #f4f4f4; height: 300px; }  
#slider img { display: none; }  
  
#slider.orbit { background: none; }  
#slider.orbit img { display: block; } 

